---
layout: default
---

<h1>Hi there!</h1>
<hr><br>

<img src="assets/alex_ma.jpg">

<br><br>

<p>My name is Alex, and I’m from Amarillo, Texas.</p>

<p>I am currently an upcoming senior at The University of Texas at Austin studying Electrical and Computer Engineering.</p>

<p>I love hearing people’s stories and backgrounds, so feel free to shoot me a message and tell me about yourself! :)</p>

<br><hr><br>

<h1> Links </h1>

<h3><a href="mailto: alex.ma.806@gmail.com">Email me!</a></h3>


<h3><a href="assets/alex_ma_resume.pdf">My Resume!</a></h3>


<h3><a href="https://github.com/alexander-ma/">Check out my Github!</a></h3>


<h3><a href="https://linkedin.com/in/ma-alex/">Add me on LinkedIn!</a></h3>